<div class="table-responsive tabela-resultado ">						
    <table  class="table table-striped" id="tbResultado">
        <thead>
            <tr>
                <th>PERIOD</th>
                <th>SUM OF PAY TV</th>	
                <th>SUM OF SVOD</th>	
                <th>SUM OF NETFLIX</th>	
                <th>SUM OF BANDA LARGA</th>	
            </tr>
        </thead>		
        <tbody>
                <% for(i = 0; i < platforms.length; i ++) { %>
                <tr>
                    <td><%- platforms[i].Period %></td>
                    <td><%- platforms[i].Sum_of_SUBS_PAY_TV.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                    <td><%- platforms[i].Sum_of_SUBS_SVOD.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                    <td><%- platforms[i].Sum_of_SUBS_NETFLIX.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                    <td><%- platforms[i].Sum_of_SUBS_BANDA_LARGA.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                </tr>
                <%}%>	
            
            
    </table>
</div>	


</div>