<div class="grafico content img-responsive" id="grafico">
    <script type="text/javascript">
        $(function () {

            $('#grafico').highcharts({
                
                chart: {
                    type: 'bar'
                },
                

                title: {
                    text: ''
                },
                <% if(quarters==false){ %>
                    subtitle: {
                        text: 'Aguardando dados'
                    },
                <%}else{%>
                    subtitle: {
                        text: ''
                    },
                <%}%>
                    xAxis: {
                        categories: [
                        <%if(quarters){%>
                            <% for(i = 0 ; i < quarters.length  ; i++) {  %>
                                
                                [ "<%- quarters[i].Quarter_Year %>"],
                            <%}%>
                        <%}%>
                        ]
                    },
                    yAxis: {
                        title: {
                            text: ''
                        },
                        minorGridLineWidth: 0,
                        gridLineWidth: 0,
                        alternateGridColor: null,															
                    },
                    plotOptions: {
                            series: {
                                dataLabels: {
                                   
                                    enabled: true,
                                    
                                },
                                }
                    },                                          
                                                        
                        series: [{
                        name: 'Subscribes',
                        data: [
                        <% for(i = 0; i < quarters.length; i ++) { %>


                            [
                                <%-quarters[i].TotalQ %>
                            ],
                            <%}%>

                            ]
                        } ],
                            navigation: {
                                menuItemStyle: {
                                    fontSize: '10px'
                                }
                            }

                    });
                });

    </script>
</div>


    <h4>SHARE SUBS PER GROUP</h4>

        <table  class="table table-striped" id="tbResultado">



            <thead>
                <tr>
                    <th>GROUP</th>
                    <% for(i = 0; i < quarters.length; i ++) { %>

                        <th><%- quarters[i].Quarter_Year %></th>
                    <%}%>

                </tr>
            </thead>		
            <tbody>
                <% if(group){ %>
                    <% for(i = 0; i < group.length; i ++) { %>
                    <tr>
                        <td><%- group[i].Group   %> </td>
                        
                    

                        <% for(j = 1; j < Object.getOwnPropertyNames(group[i]).length; j ++) { %>
                            
                            <% if(quarters.length!=3){ %>

                        <td><%- parseFloat(group[i][Object.getOwnPropertyNames(group[i])[j]] / quarters[j-1].TotalQ*100).toFixed(0) %>%</td>     
                        <%}%>
                        <%}%>

                    </tr>
                    <%}%>
                <%}%>			
        </table>
</div>
   