<div class="grafico content img-responsive" id="grafico2">
    <script type="text/javascript">
        $(function () {
            $('#grafico2').highcharts({
                chart: {
                    type: 'bar'
                },
                
                title: {
                    text: 'SHARE OF GENRE'
                },
                <% if(quarters==false){ %>
                    subtitle: {
                        text: 'Aguardando dados'
                    },
                <%}else{%>
                    subtitle: {
                        text: ''
                    },
                <%}%>
                    xAxis: {
                        categories: [
                        <%if(quarters){%>
                            <% for(i = 0 ; i < quarters.length  ; i++) {  %>
                                 "<%-quarters[i].Quarter_Year %>",
                            <%}%>
                        <%}%>
                        ],
                        stacked: true
                    },
                    yAxis: {
                        title: {
                            text: 'subscribes'
                        },
                        minorGridLineWidth: 0,
                        gridLineWidth: 0,
                        alternateGridColor: null,															
                    },
                    tooltip: {
                        formatter: function() {
                            return '<b>'+ this.x +'</b><br/>'+
                                this.series.name +': '+ this.y +'<br/>'+
                                'Total: '+ this.point.stackTotal;
                        }
                    },
                                                  
                    plotOptions: {
                            series: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                    
                                    formatter: function () {
                                      //return Highcharts.numberFormat(this.y,2);
                                      return Math.round(100 * this.y / this.total) + ' %';
                                  }
                                  

                                },
                                }
                    },            
                                                        
                    series: [

                        <%if(Genre){%>
                        
                                
                                {
                                    name:  ' Kids ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < quarters.length; i ++) { %> 
                                        <%- Genre[i].kids %>/<%- quarters[i].TotalQ %>*100,
                                    <%}%>
                                    ]
                                },
                                {
                                    name:  ' GE ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < quarters.length; i ++) { %> 
                                        <%- Genre[i].Generalist %>/<%- quarters[i].TotalQ %>*100,
                                    <%}%>
                                    ]
                                },
                                {
                                    name:  ' M & S ',
                                    data:
                                    [ 
                                    <% for(i = 0; i < quarters.length; i ++) { %> 
                                        <%- (Genre[i].MoviesFictions/quarters[i].TotalQ)*100 %>,
                                    <%}%>	                                        
                                    ]
                                },
                                {
                                    name:  ' Sports ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < quarters.length; i ++) { %> 
                                        <%- Genre[i].sport %>/<%- quarters[i].TotalQ %>*100,
                                    <%}%>
                                    ]
                                },
                                
                                {
                                    name:  ' Music ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < quarters.length; i ++) { %> 
                                        <%- Genre[i].Music %>/<%- quarters[i].TotalQ %>*100,
                                    <%}%>
                                    ]
                                },
                                {
                                    name:  ' Documentary ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < quarters.length; i ++) { %> 
                                        <%- Genre[i].Documentary %>/<%- quarters[i].TotalQ %>*100,
                                    <%}%>
                                    ]
                                },
                               
                        <%}%>
                    ],

    //                 series: [{
    //     name: 'John',
    //     data: [5000, 3000, 4000, 7000, 2000]
    // }, {
    //     name: 'Jane',
    //     data: [2000, 2000, 3000, 2000, 1000]
    // }, {
    //     name: 'Joe',
    //     data: [3000, 4000, 4000, 2000, 5000]
    // }]



                     navigation: {
                            menuItemStyle: {
                                fontSize: '10px'
                            }
                        }
                    


            });
        });
 

    </script>
</div>

</div>