<div class="grafico content img-responsive" id="grafico2">
    <script type="text/javascript">
        $(function () {
            $('#grafico2').highcharts({
                chart: {
                    type: 'bar'
                },
                
                title: {
                    text: 'SHARE OF GENRE'
                },

                <% if(quarters==false){ %>
                    subtitle: {
                        text: 'Aguardando dados'
                    },
                <%}else{%>
                    subtitle: {
                        text: ''
                    },
                <%}%>

//     xAxis: {
//         categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
//     },

                    xAxis: {
                        categories: [

                        <%if(quarters){%>
                            <% for(i = 0 ; i < quarters.length  ; i++) {  %>
                                 "<%- quarters[i].Quarter_Year %>",

                            <%}%>
                        <%}%>

                        ],
                        stacked: true
                    },
                    yAxis: {
                        title: {
                            text: 'subscribes'
                        },
                        minorGridLineWidth: 0,
                        gridLineWidth: 0,
                        alternateGridColor: null,															
                    },
                    tooltip: {
                        formatter: function() {
                            return '<b>'+ this.x +'</b><br/>'+
                                this.series.name +': '+ this.y +'<br/>'+
                                'Total: '+ this.point.stackTotal;
                        }
                    },
                                                  
                    plotOptions: {
                            series: {
                                stacking: 'normal',
                                dataLabels: {
                                    enabled: true,
                                    
                                    formatter: function () {
                                      //return Highcharts.numberFormat(this.y,2);
                                      return Math.round(100 * this.y / this.total) + ' %';
                                    }
                                  

                                },
                            }
                    },            
                                                        
                    series: [
                    // {
                    //                 name:  ' Kids ',
                    //                 data: 
                    //                 [ 
                    //                 <% for(i = 0; i < quarters.length; i ++) { %> 
                    //                     <%- Genre[i].kids %>/<%- quarters[i].TotalQ %>*100,
                    //                 <%}%>
                    //                 ]
                    //             },
                        
                               
                    {
                                    name:  ' Kids ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < Genre.length; i ++) { %> 
                                        <%- (Genre[i].Kids/quarters[i].TotalQ)*100 %>,
                                    <%}%>
                                    ]
                                },
                                {
                                    name:  ' GE ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < Genre.length; i ++) { %> 
                                        <%- (Genre[i].Generalist/quarters[i].TotalQ)*100 %>,
                                    <%}%>
                                    ]
                                },
                                {
                                    name:  ' M & S ',
                                    data:
                                    [ 
                                    <% for(i = 0; i < Genre.length; i ++) { %> 
                                        <%- (Genre[i].MoviesFictions/quarters[i].TotalQ)*100 %>,
                                    <%}%>	                                        
                                    ]
                                },
                                {
                                    name:  ' Sports ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < Genre.length; i ++) { %> 
                                        <%- (Genre[i].Sports/quarters[i].TotalQ)*100 %>,
                                    <%}%>
                                    ]
                                },
                                
                                {
                                    name:  ' Music ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < Genre.length; i ++) { %> 
                                        <%- (Genre[i].Music/quarters[i].TotalQ)*100 %>,
                                    <%}%>
                                    ]
                                },
                                {
                                    name:  ' Documentary ',
                                    data: 
                                    [ 
                                    <% for(i = 0; i < Genre.length; i ++) { %> 
                                        <%- (Genre[i].Documentary/quarters[i].TotalQ)*100 %>,
                                    <%}%>
                                    ]
                                }                   
            ]
                    //  navigation: {
                    //         menuItemStyle: {
                    //             fontSize: '10px'
                    //         }
                    //     }
            });
        });



//     yAxis: {
//         min: 0,
//         title: {
//             text: 'Total fruit consumption'
//         }
//     },
//     legend: {
//         reversed: true
//     },
//     plotOptions: {
//         series: {
//             stacking: 'normal'
//         }
//     },
//     series: [{
//         name: 'John',
//         data: [5, 3, 4, 7, 2]
//     }, {
//         name: 'Jane',
//         data: [2, 2, 3, 2, 1]
//     }, {
//         name: 'Joe',
//         data: [3, 4, 4, 2, 5]
//     }]
// });
// });

    </script>
</div>

</div>