<div class="col-xs-12 col-md-4 espaco">
    <h4>SUBS PER NETWORK <a onclick="exportTableToExcel('tbResultado2')">Export</a></h4>
        <table  class="table table-striped" id="tbResultado2">
            <thead>
                <tr>
                    <th>Network</th>
                    <% for(i = 0; i < quarters.length; i ++) { %>
                        <th><%- quarters[i].Quarter_Year %></th>
                    <%}%>									
                </tr>
            </thead>		
            <tbody>
                <% if(listnetwork){%>
                    <% for(i = 0; i < listnetwork.length; i ++) { %>
                    <tr>
                        <td><%- listnetwork[i].network %></td>
                        <td><%- listnetwork[i].q1.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <td><%- listnetwork[i].q2.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <td><%- listnetwork[i].q3.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <td><%- listnetwork[i].q4.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                    </tr>
                    <%}%>
                <%}%>			
        </table>
</div>