<div class="col-xs-10 col-md-4 espaco">
    <h4>SUBS PER GENRE</h4>
    <div class="table-responsive tabela-resultado ">						
        <table  class="table table-striped" id="tbResultado3">
            <thead>
                <tr>
                    <th>YEAR QUARTER</th>

                    <% if(genrer){%>
                        <% for(i = 0; i < genrer.length; i ++) { %>	
                            <%if(genrer[i].genre == 'Movies and Fictions' ){ %>
                                <th> M&S </th>
                                                  
                            <%}else{%>                        				
                                <th> <%- Genre.getOwnPropertyNames(Genre) %> </th>
                            <%}%>
                        <%}%>	
                    <%}%>										
                </tr>
            </thead>		
            <tbody>
                    <% for(i = 0; i < quarters.length; i ++) { %>
                    <tr>
                        <td><%- Genre[i].quarter_year %></td>
                        <td><%- Genre[i].MoviesFictions.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <td><%- Genre[i].kids.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <td><%- Genre[i].sport.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <td><%- Genre[i].Music.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <td><%- Genre[i].Generalist.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                        <td><%- Genre[i].Documentary.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                    </tr>
                    <%}%>	
                
                
        </table>
    </div>																