<div class="col-xs-12 col-md-4 espaco">
    <h4>SUBS PER NETWORK</h4>
    <div class="table-responsive tabela-resultado ">						
        <table  class="table table-striped" id="tbResultado">
            <thead>
                <tr>
                    <th>Network</th>
                    <% for(i = 0; i < quarters.length; i ++) { %>
                        <th><%- quarters[i].Quarter_Year %></th>
                    <%}%>									
                </tr>
            </thead>		
            <tbody>
                <% if(listnetwork){%>
                    <% for(i = 0; i < listnetwork.length; i ++) { %>
                    <tr>
                        <td><%- listnetwork[i].network %></td>
                        <td><%- listnetwork[i].q1 %></td>
                        <td><%- listnetwork[i].q2 %></td>
                        <td><%- listnetwork[i].q3 %></td>
                    </tr>
                    <%}%>
                <%}%>			
        </table>
    </div>																
</div>